.links-section {
  display: flex;
}

.links-bar {
  margin: 0 auto;
  margin-top: 20px;
}

.link-icon {
  text-decoration: none;
  color: #5b5b5b;
  font-size: 64px;
}

.project-link {
  color: #5b5b5b;
  font-size: 24px;
}

#ts-pic {
  background-image: url("../../images/tunesmith_stitch.png");
  background-position: 20% 0%;
  background-size: 1600px;
  transition: background-size 1.5s ease-in-out, background-position 1.5s ease-in-out;
}

#ts-pic:hover {
  background-position: 40% 0%;
  background-size: 110%;
}

#chr-pic {
  background-image: url("../../images/chroma_logo_loop_md.gif");
  background-position: center;
  background-size: auto 100%;
}

.skill-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.skill-item {
  width: 33.3%;
  height: 1.5em;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-quote {
  margin: 0;
}

#header a:hover {
  color: darkgray;
}

#header h3 {
  font-size: 1.5em;
}
